*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Flexo-Medium";


}
@font-face {
  font-family: "Flexo-Medium";
  src: url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.eot");
  src: url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.svg#Flexo-Medium")format("svg");
}

* {
  margin: 0;
}
main
{
  display: flex;
  flex-direction: column;
  align-items: center ;

}
body{
  background-image: url('detective-pikachu.jpg');
  background-size: cover;
}
.buffer
{
  border-color: white;
  border-style: outset;

  background-color: rgba(0, 0, 0, 0.5);
  height: 20%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 30px;

}
.input{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  gap: 20px;
}
.input h1{
  color: white;
  font-size: 40px;
}

form
{
  width: 100%;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#search-input
{
  width: 70%;
  height: 30px;
  color: white;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-color: white;
  border-style: outset;

  border-style: 2px;
}
::placeholder
{
  font-style: bold;
  color: white;
}
#search-button
{
  height: 30px;

}
.header
{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

}
#output
{
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}
.output-content
{
  background-color: #f9f9f9;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
  border-radius: 30px;
  border-style: outset;
  border-width: 5px;
  border-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
#close {
  color: red;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close:hover,
#close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
form{
  display: flex;
}
.name_and_id
{
  display: flex;
  flex-direction: row;
  height: 20%;
  width: 100%;
  justify-content: center;
  gap: 30px;
  font-family: "Flexo-Medium";
  font-size: 36px;
  margin-bottom: 10px;
}
.weight_and_height
{
  display: flex;
  flex-direction: column;
  height: 20%;
  font-size: 24px;
  
}
.stats_table
{
  margin-top: 30px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.stats_table table, th, td
{
  border-collapse: collapse;
  border: 1px white solid; 
  padding: 15px; 
}
.stats_table table
{
  width: 100%;
}
.first-section
{
  display: flex;
  flex-direction: column;
  width: 100%;

}

#sprites
{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 30px;
}
#sprite_container_front, #sprite_container_back
{
  border-radius: 10px;
  margin-right: 5px;
  box-sizing: border-box;
  background-color:#F2F2F2 ;
  min-width: 230px;
  min-height: auto;
  border-style: outset;
  border-width: 2px;
  border-color: #333;
}


/* Special styling for Pokémon types */
#types {
  min-height: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;

}

.type {
  width: 66px;
  padding: 5px;
  font-size: 0.7rem;
  text-align: center;
  border-radius: 5px;
  background-color: red;
  text-transform: uppercase;
  font-family: "Flexo-Medium";

}
.total
{
  font-style: bold;
}
.normal {
    background-color: #b7b7aa;
  }
  
  .fire {
    background-color: #ff6f52;
  }
  
  .water {
    background-color: #42a1ff;
  }
  
  .electric {
    background-color: #fecc33;
  }
  
  .grass {
    background-color: #78cc55;
  }
  
  .ice {
    background-color: #66ccfe;
  }
  
  .fighting {
    background-color: #d3887e;
  }
  
  .poison {
    background-color: #c68bb7;
  }
  
  .ground {
    background-color: #dfba52;
  }
  
  .flying {
    background-color: #8899ff;
  }
  
  .psychic {
    background-color: #ff66a3;
  }
  
  .bug {
    background-color: #aabb23;
  }
  
  .rock {
    background-color: #baaa66;
  }
  
  .ghost {
    background-color: #9995d0;
  }
  
  .dragon {
    background-color: #9e93f1;
  }
  
  .dark {
    background-color: #b59682;
  }
  
  .steel {
    background-color: #abaabb;
  }
  
  .fairy {
    background-color: #ed99ed;
  }

@media(max-width : 670px)
{
  .buffer
  {
    width: 80%;
  }
  .input h1{
    font-size: 28px;
  }
  .output-content
  {
    width: 80%;
  }
  .name_and_id
  {
    font-size: 28px;
    margin-top: 30px;
  }
  #sprites
  {
    flex-direction: column;
    gap: 20px;
  }
}
@media only screen and (max-width: 1200px) {
  .buffer
  {
    width: 80%;
  }
  .input h1{
    font-size: 32px;
  }
  .output-content
  {
    width: 80%;
  }
  .name_and_id
  {
    font-size: 32px;
    margin-top: 30px;
  }
  #sprites
  {
    gap: 20px;
  }
}
